@use "sass:math";

// Neutralize Squarespace Hamburger
// ==================================================
.burger-inner {
  .top-bun,
  .patty,
  .bottom-bun {
    opacity: 0 !important;
  }
}

// Hamburger
// ==================================================
.header--menu-open {
  .header-burger-btn {
    .burger-inner,
    .burger-inner::before,
    .burger-inner::after {
      background-color: var(--menuOverlayNavigationLinkColor);
    }
  }
}

.header-burger-btn {
  padding: $hamburger-padding-y $hamburger-padding-x;
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    @if $hamburger-hover-use-filter == true {
      filter: $hamburger-hover-filter;
    }
    @else {
      opacity: $hamburger-hover-opacity;
    }
  }

  &.burger--active {
    &:hover {
      @if $hamburger-hover-use-filter == true {
        filter: $hamburger-active-hover-filter;
      }
      @else {
        opacity: $hamburger-active-hover-opacity;
      }
    }

    .burger-inner,
    .burger-inner::before,
    .burger-inner::after {
      background-color: $hamburger-active-layer-color;
      background-color: var(--navigationLinkColor);
    }
  }
}

.burger-box {
  width: $hamburger-layer-width;
  height: $hamburger-layer-width;
  display: inline-block;
  position: relative;
}

.burger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height;

  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    height: var(--b-hamburger-layer-height, $hamburger-layer-height);
    background-color: $hamburger-layer-color;
    background-color: var(--navigationLinkColor);
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::before,
  &::after {
    content: "";
    display: block;
  }

  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }

  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
  }
}
