@if index($hamburger-types, boring) {
  /*
   * Boring
   */
  .header-burger-btn.hamburger--boring,
  .header-burger-btn {
    .burger-inner {
      &,
      &::before,
      &::after {
        transition-property: none;
      }
    }

    &.burger--active {
      .burger-inner {
        transform: rotate(45deg);

        &::before {
          top: 0;
          opacity: 0;
        }

        &::after {
          bottom: 0;
          transform: rotate(-90deg);
        }
      }
    }
  }
}
